<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Linear Regression</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Linear Regression Model</h1>
        <center>
            <img src = '{{ href }}' height = '80%' />
            <form method="post">
                <label for="floatstr">Input comma seperated list of age values: </label>
                <input type="text", name = 'floatstr'>
                <input type="submit">
            </form>
        </center>

        <div>By Siddharth Kolipara</div>
    </body>
</html>

